.container {
  display: grid;
  width: fit-content;
  max-width: 100%;
  top: -0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5rem;
}

.element {
  transition: transform 1.3s ease;
  width: 100%;
  padding: 0.5rem 0 0 0;
}
